* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  width: 100%;
  overflow:hidden;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #000000 0%, #26084c 100%);
}

.galaxy {
  width: 100%;
  height: 100vh;
  position: absolute;
  overflow: hidden;
}

.stars1 {
  width: 1px;
  height: 1px;
  background-color: transparent;
  position: relative;
  box-shadow: 779px 1331px #001aff, 324px 42px #001aff, 303px 586px #001aff,
  1312px 276px #001aff, 451px 625px #001aff, 521px 1931px #001aff, 1087px 1871px #001aff,
  36px 1546px #001aff, 132px 934px #001aff, 1698px 901px #001aff, 1418px 664px #001aff,
  1448px 1157px #001aff, 1084px 232px #001aff, 347px 1776px #001aff, 1722px 243px #001aff,
  1629px 835px #001aff, 479px 969px #001aff, 1231px 960px #001aff, 586px 384px #001aff,
  164px 527px #001aff, 8px 646px #001aff, 1150px 1126px #001aff, 665px 1357px #001aff,
  1556px 1982px #001aff, 1260px 1961px #001aff, 1675px 1741px #001aff,
  1843px 1514px #001aff, 718px 1628px #001aff, 242px 1343px #001aff, 1497px 1880px #001aff,
  1364px 230px #001aff, 1739px 1302px #001aff, 636px 959px #001aff, 304px 686px #001aff,
  614px 751px #001aff, 1935px 816px #001aff, 1428px 60px #001aff, 355px 335px #001aff,
  1594px 158px #001aff, 90px 60px #001aff, 1553px 162px #001aff, 1239px 1825px #001aff,
  1945px 587px #001aff, 749px 1785px #001aff, 1987px 1172px #001aff, 1301px 1237px #001aff,
  1039px 342px #001aff, 1585px 1481px #001aff, 995px 1048px #001aff, 524px 932px #001aff,
  214px 413px #001aff, 1701px 1300px #001aff, 1037px 1613px #001aff, 1871px 996px #001aff,
  1360px 1635px #001aff, 1110px 1313px #001aff, 412px 1783px #001aff, 1949px 177px #001aff,
  903px 1854px #001aff, 700px 1936px #001aff, 378px 125px #001aff, 308px 834px #001aff,
  1118px 962px #001aff, 1350px 1929px #001aff, 781px 1811px #001aff, 561px 137px #001aff,
  757px 1148px #001aff, 1670px 1979px #001aff, 343px 739px #001aff, 945px 795px #001aff,
  576px 1903px #001aff, 1078px 1436px #001aff, 1583px 450px #001aff, 1366px 474px #001aff,
  297px 1873px #001aff, 192px 162px #001aff, 1624px 1633px #001aff, 59px 453px #001aff,
  82px 1872px #001aff, 1933px 498px #001aff, 1966px 1974px #001aff, 1975px 1688px #001aff,
  779px 314px #001aff, 1858px 1543px #001aff, 73px 1507px #001aff, 1693px 975px #001aff,
  1683px 108px #001aff, 1768px 1654px #001aff, 654px 14px #001aff, 494px 171px #001aff,
  1689px 1895px #001aff, 1660px 263px #001aff, 1031px 903px #001aff, 1203px 1393px #001aff,
  1333px 1421px #001aff, 1113px 41px #001aff, 1206px 1645px #001aff, 1325px 1635px #001aff,
  142px 388px #001aff, 572px 215px #001aff, 1535px 296px #001aff, 1419px 407px #001aff,
  1379px 1003px #001aff, 329px 469px #001aff, 1791px 1652px #001aff, 935px 1802px #001aff,
  1330px 1820px #001aff, 421px 1933px #001aff, 828px 365px #001aff, 275px 316px #001aff,
  707px 960px #001aff, 1605px 1554px #001aff, 625px 58px #001aff, 717px 1697px #001aff,
  1669px 246px #001aff, 1925px 322px #001aff, 1154px 1803px #001aff, 1929px 295px #001aff,
  1248px 240px #001aff, 1045px 1755px #001aff, 166px 942px #001aff, 1888px 1773px #001aff,
  678px 1963px #001aff, 1370px 569px #001aff, 1974px 1400px #001aff, 1786px 460px #001aff,
  51px 307px #001aff, 784px 1400px #001aff, 730px 1258px #001aff, 1712px 393px #001aff,
  416px 170px #001aff, 1797px 1932px #001aff, 572px 219px #001aff, 1557px 1856px #001aff,
  218px 8px #001aff, 348px 1334px #001aff, 469px 413px #001aff, 385px 1738px #001aff,
  1357px 1818px #001aff, 240px 942px #001aff, 248px 1847px #001aff, 1535px 806px #001aff,
  236px 1514px #001aff, 1429px 1556px #001aff, 73px 1633px #001aff, 1398px 1121px #001aff,
  671px 1301px #001aff, 1404px 1663px #001aff, 740px 1018px #001aff, 1600px 377px #001aff,
  785px 514px #001aff, 112px 1084px #001aff, 1915px 1887px #001aff, 1463px 1848px #001aff,
  687px 1115px #001aff, 1268px 1768px #001aff, 1729px 1425px #001aff,
  1284px 1022px #001aff, 801px 974px #001aff, 1975px 1317px #001aff, 1354px 834px #001aff,
  1446px 1484px #001aff, 1283px 1786px #001aff, 11px 523px #001aff, 1842px 236px #001aff,
  1355px 654px #001aff, 429px 7px #001aff, 1033px 1128px #001aff, 157px 297px #001aff,
  545px 635px #001aff, 52px 1080px #001aff, 827px 1520px #001aff, 1121px 490px #001aff,
  9px 309px #001aff, 1744px 1586px #001aff, 1014px 417px #001aff, 1534px 524px #001aff,
  958px 552px #001aff, 1403px 1496px #001aff, 387px 703px #001aff, 1522px 548px #001aff,
  1355px 282px #001aff, 1532px 601px #001aff, 1838px 790px #001aff, 290px 259px #001aff,
  295px 598px #001aff, 1601px 539px #001aff, 1561px 1272px #001aff, 34px 1922px #001aff,
  1024px 543px #001aff, 467px 369px #001aff, 722px 333px #001aff, 1976px 1255px #001aff,
  766px 983px #001aff, 1582px 1285px #001aff, 12px 512px #001aff, 617px 1410px #001aff,
  682px 577px #001aff, 1334px 1438px #001aff, 439px 327px #001aff, 1617px 1661px #001aff,
  673px 129px #001aff, 794px 941px #001aff, 1386px 1902px #001aff, 37px 1353px #001aff,
  1467px 1353px #001aff, 416px 18px #001aff, 187px 344px #001aff, 200px 1898px #001aff,
  1491px 1619px #001aff, 811px 347px #001aff, 924px 1827px #001aff, 945px 217px #001aff,
  1735px 1228px #001aff, 379px 1890px #001aff, 79px 761px #001aff, 825px 1837px #001aff,
  1980px 1558px #001aff, 1308px 1573px #001aff, 1488px 1726px #001aff,
  382px 1208px #001aff, 522px 595px #001aff, 1277px 1898px #001aff, 354px 552px #001aff,
  161px 1784px #001aff, 614px 251px #001aff, 526px 1576px #001aff, 17px 212px #001aff,
  179px 996px #001aff, 467px 1208px #001aff, 1944px 1838px #001aff, 1140px 1093px #001aff,
  858px 1007px #001aff, 200px 1064px #001aff, 423px 1964px #001aff, 1945px 439px #001aff,
  1377px 689px #001aff, 1120px 1437px #001aff, 1876px 668px #001aff, 907px 1324px #001aff,
  343px 1976px #001aff, 1816px 1501px #001aff, 1849px 177px #001aff, 647px 91px #001aff,
  1984px 1012px #001aff, 1336px 1300px #001aff, 128px 648px #001aff, 305px 1060px #001aff,
  1324px 826px #001aff, 1263px 1314px #001aff, 1801px 629px #001aff, 1614px 1555px #001aff,
  1634px 90px #001aff, 1603px 452px #001aff, 891px 1984px #001aff, 1556px 1906px #001aff,
  121px 68px #001aff, 1676px 1714px #001aff, 516px 936px #001aff, 1947px 1492px #001aff,
  1455px 1519px #001aff, 45px 602px #001aff, 205px 1039px #001aff, 793px 172px #001aff,
  1562px 1739px #001aff, 1056px 110px #001aff, 1512px 379px #001aff, 1795px 1621px #001aff,
  1848px 607px #001aff, 262px 1719px #001aff, 477px 991px #001aff, 483px 883px #001aff,
  1239px 1197px #001aff, 1496px 647px #001aff, 1649px 25px #001aff, 1491px 1946px #001aff,
  119px 996px #001aff, 179px 1472px #001aff, 1341px 808px #001aff, 1565px 1700px #001aff,
  407px 1544px #001aff, 1754px 357px #001aff, 1288px 981px #001aff, 902px 1997px #001aff,
  1755px 1668px #001aff, 186px 877px #001aff, 1202px 1882px #001aff, 461px 1213px #001aff,
  1400px 748px #001aff, 1969px 1899px #001aff, 809px 522px #001aff, 514px 1219px #001aff,
  374px 275px #001aff, 938px 1973px #001aff, 357px 552px #001aff, 144px 1722px #001aff,
  1572px 912px #001aff, 402px 1858px #001aff, 1544px 1195px #001aff, 667px 1257px #001aff,
  727px 1496px #001aff, 993px 232px #001aff, 1772px 313px #001aff, 1040px 1590px #001aff,
  1204px 1973px #001aff, 1268px 79px #001aff, 1555px 1048px #001aff, 986px 1707px #001aff,
  978px 1710px #001aff, 713px 360px #001aff, 407px 863px #001aff, 461px 736px #001aff,
  284px 1608px #001aff, 103px 430px #001aff, 1283px 1319px #001aff, 977px 1186px #001aff,
  1966px 1516px #001aff, 1287px 1129px #001aff, 70px 1098px #001aff, 1189px 889px #001aff,
  1126px 1734px #001aff, 309px 1292px #001aff, 879px 764px #001aff, 65px 473px #001aff,
  1003px 1959px #001aff, 658px 791px #001aff, 402px 1576px #001aff, 35px 622px #001aff,
  529px 1589px #001aff, 164px 666px #001aff, 1876px 1290px #001aff, 1541px 526px #001aff,
  270px 1297px #001aff, 440px 865px #001aff, 1500px 802px #001aff, 182px 1754px #001aff,
  1264px 892px #001aff, 272px 1249px #001aff, 1289px 1535px #001aff, 190px 1646px #001aff,
  955px 242px #001aff, 1456px 1597px #001aff, 1727px 1983px #001aff, 635px 801px #001aff,
  226px 455px #001aff, 1396px 1710px #001aff, 849px 1863px #001aff, 237px 1264px #001aff,
  839px 140px #001aff, 1122px 735px #001aff, 1280px 15px #001aff, 1318px 242px #001aff,
  1819px 1148px #001aff, 333px 1392px #001aff, 1949px 553px #001aff, 1878px 1332px #001aff,
  467px 548px #001aff, 1812px 1082px #001aff, 1067px 193px #001aff, 243px 156px #001aff,
  483px 1616px #001aff, 1714px 933px #001aff, 759px 1800px #001aff, 1822px 995px #001aff,
  1877px 572px #001aff, 581px 1084px #001aff, 107px 732px #001aff, 642px 1837px #001aff,
  166px 1493px #001aff, 1555px 198px #001aff, 819px 307px #001aff, 947px 345px #001aff,
  827px 224px #001aff, 927px 1394px #001aff, 540px 467px #001aff, 1093px 405px #001aff,
  1140px 927px #001aff, 130px 529px #001aff, 33px 1980px #001aff, 1147px 1663px #001aff,
  1616px 1436px #001aff, 528px 710px #001aff, 798px 1100px #001aff, 505px 1480px #001aff,
  899px 641px #001aff, 1909px 1949px #001aff, 1311px 964px #001aff, 979px 1301px #001aff,
  1393px 969px #001aff, 1793px 1886px #001aff, 292px 357px #001aff, 1196px 1718px #001aff,
  1290px 1994px #001aff, 537px 1973px #001aff, 1181px 1674px #001aff,
  1740px 1566px #001aff, 1307px 265px #001aff, 922px 522px #001aff, 1892px 472px #001aff,
  384px 1746px #001aff, 392px 1098px #001aff, 647px 548px #001aff, 390px 1498px #001aff,
  1246px 138px #001aff, 730px 876px #001aff, 192px 1472px #001aff, 1790px 1789px #001aff,
  928px 311px #001aff, 1253px 1647px #001aff, 747px 1921px #001aff, 1561px 1025px #001aff,
  1533px 1292px #001aff, 1985px 195px #001aff, 728px 729px #001aff, 1712px 1936px #001aff,
  512px 1717px #001aff, 1528px 483px #001aff, 313px 1642px #001aff, 281px 1849px #001aff,
  1212px 799px #001aff, 435px 1191px #001aff, 1422px 611px #001aff, 1718px 1964px #001aff,
  411px 944px #001aff, 210px 636px #001aff, 1502px 1295px #001aff, 1434px 349px #001aff,
  769px 60px #001aff, 747px 1053px #001aff, 789px 504px #001aff, 1436px 1264px #001aff,
  1893px 1225px #001aff, 1394px 1788px #001aff, 1108px 1317px #001aff,
  1673px 1395px #001aff, 854px 1010px #001aff, 1705px 80px #001aff, 1858px 148px #001aff,
  1729px 344px #001aff, 1388px 664px #001aff, 895px 406px #001aff, 1479px 157px #001aff,
  1441px 1157px #001aff, 552px 1900px #001aff, 516px 364px #001aff, 1647px 189px #001aff,
  1427px 1071px #001aff, 785px 729px #001aff, 1080px 1710px #001aff, 504px 204px #001aff,
  1177px 1622px #001aff, 657px 34px #001aff, 1296px 1099px #001aff, 248px 180px #001aff,
  1212px 1568px #001aff, 667px 1562px #001aff, 695px 841px #001aff, 1608px 1247px #001aff,
  751px 882px #001aff, 87px 167px #001aff, 607px 1368px #001aff, 1363px 1203px #001aff,
  1836px 317px #001aff, 1668px 1703px #001aff, 830px 1154px #001aff, 1721px 1398px #001aff,
  1601px 1280px #001aff, 976px 874px #001aff, 1743px 254px #001aff, 1020px 1815px #001aff,
  1670px 1766px #001aff, 1890px 735px #001aff, 1379px 136px #001aff, 1864px 695px #001aff,
  206px 965px #001aff, 1404px 1932px #001aff, 1923px 1360px #001aff, 247px 682px #001aff,
  519px 1708px #001aff, 645px 750px #001aff, 1164px 1204px #001aff, 834px 323px #001aff,
  172px 1350px #001aff, 213px 972px #001aff, 1837px 190px #001aff, 285px 1806px #001aff,
  1047px 1299px #001aff, 1548px 825px #001aff, 1730px 324px #001aff, 1346px 1909px #001aff,
  772px 270px #001aff, 345px 1190px #001aff, 478px 1433px #001aff, 1479px 25px #001aff,
  1994px 1830px #001aff, 1744px 732px #001aff, 20px 1635px #001aff, 690px 1795px #001aff,
  1594px 569px #001aff, 579px 245px #001aff, 1398px 733px #001aff, 408px 1352px #001aff,
  1774px 120px #001aff, 1152px 1370px #001aff, 1698px 1810px #001aff, 710px 1450px #001aff,
  665px 286px #001aff, 493px 1720px #001aff, 786px 5px #001aff, 637px 1140px #001aff,
  764px 324px #001aff, 927px 310px #001aff, 938px 1424px #001aff, 1884px 744px #001aff,
  913px 462px #001aff, 1831px 1936px #001aff, 1527px 249px #001aff, 36px 1381px #001aff,
  1597px 581px #001aff, 1530px 355px #001aff, 949px 459px #001aff, 799px 828px #001aff,
  242px 1471px #001aff, 654px 797px #001aff, 796px 594px #001aff, 1365px 678px #001aff,
  752px 23px #001aff, 1630px 541px #001aff, 982px 72px #001aff, 1733px 1831px #001aff,
  21px 412px #001aff, 775px 998px #001aff, 335px 1945px #001aff, 264px 583px #001aff,
  158px 1311px #001aff, 528px 164px #001aff, 1978px 574px #001aff, 717px 1203px #001aff,
  734px 1591px #001aff, 1555px 820px #001aff, 16px 1943px #001aff, 1625px 1177px #001aff,
  1236px 690px #001aff, 1585px 1590px #001aff, 1737px 1728px #001aff, 721px 698px #001aff,
  1804px 1186px #001aff, 166px 980px #001aff, 1850px 230px #001aff, 330px 1712px #001aff,
  95px 797px #001aff, 1948px 1078px #001aff, 469px 939px #001aff, 1269px 1899px #001aff,
  955px 1220px #001aff, 1137px 1075px #001aff, 312px 1293px #001aff, 986px 1762px #001aff,
  1103px 1238px #001aff, 428px 1993px #001aff, 355px 570px #001aff, 977px 1836px #001aff,
  1395px 1092px #001aff, 276px 913px #001aff, 1743px 656px #001aff, 773px 502px #001aff,
  1686px 1322px #001aff, 1516px 1945px #001aff, 1334px 501px #001aff, 266px 156px #001aff,
  455px 655px #001aff, 798px 72px #001aff, 1059px 1259px #001aff, 1402px 1687px #001aff,
  236px 1329px #001aff, 1455px 786px #001aff, 146px 1228px #001aff, 1851px 823px #001aff,
  1062px 100px #001aff, 1220px 953px #001aff, 20px 1826px #001aff, 36px 1063px #001aff,
  1525px 338px #001aff, 790px 1521px #001aff, 741px 1099px #001aff, 288px 1489px #001aff,
  700px 1060px #001aff, 390px 1071px #001aff, 411px 1036px #001aff, 1853px 1072px #001aff,
  1446px 1085px #001aff, 1164px 874px #001aff, 924px 925px #001aff, 291px 271px #001aff,
  1257px 1964px #001aff, 1580px 1352px #001aff, 1507px 1216px #001aff, 211px 956px #001aff,
  985px 1195px #001aff, 975px 1640px #001aff, 518px 101px #001aff, 663px 1395px #001aff,
  914px 532px #001aff, 145px 1320px #001aff, 69px 1397px #001aff, 982px 523px #001aff,
  257px 725px #001aff, 1599px 831px #001aff, 1636px 1513px #001aff, 1250px 1158px #001aff,
  1132px 604px #001aff, 183px 102px #001aff, 1057px 318px #001aff, 1247px 1835px #001aff,
  1983px 1110px #001aff, 1077px 1455px #001aff, 921px 1770px #001aff, 806px 1350px #001aff,
  1938px 1992px #001aff, 855px 1260px #001aff, 902px 1345px #001aff, 658px 1908px #001aff,
  1845px 679px #001aff, 712px 1482px #001aff, 595px 950px #001aff, 1784px 1992px #001aff,
  1847px 1785px #001aff, 691px 1004px #001aff, 175px 1179px #001aff, 1666px 1911px #001aff,
  41px 61px #001aff, 971px 1080px #001aff, 1830px 1450px #001aff, 1351px 1518px #001aff,
  1257px 99px #001aff, 1395px 1498px #001aff, 1117px 252px #001aff, 1779px 597px #001aff,
  1346px 729px #001aff, 1108px 1144px #001aff, 402px 691px #001aff, 72px 496px #001aff,
  1673px 1604px #001aff, 1497px 974px #001aff, 1865px 1664px #001aff, 88px 806px #001aff,
  918px 77px #001aff, 244px 1118px #001aff, 256px 1820px #001aff, 1851px 1840px #001aff,
  605px 1851px #001aff, 634px 383px #001aff, 865px 37px #001aff, 943px 1024px #001aff,
  1951px 177px #001aff, 1097px 523px #001aff, 985px 1700px #001aff, 1243px 122px #001aff,
  768px 1070px #001aff, 468px 194px #001aff, 320px 1867px #001aff, 1850px 185px #001aff,
  380px 1616px #001aff, 468px 1294px #001aff, 1122px 1743px #001aff, 884px 299px #001aff,
  1300px 1917px #001aff, 1860px 396px #001aff, 1270px 990px #001aff, 529px 733px #001aff,
  1975px 1347px #001aff, 1885px 685px #001aff, 226px 506px #001aff, 651px 878px #001aff,
  1323px 680px #001aff, 1284px 680px #001aff, 238px 1967px #001aff, 911px 174px #001aff,
  1111px 521px #001aff, 1150px 85px #001aff, 794px 502px #001aff, 484px 1856px #001aff,
  1809px 368px #001aff, 112px 953px #001aff, 590px 1009px #001aff, 1655px 311px #001aff,
  100px 1026px #001aff, 1803px 352px #001aff, 865px 306px #001aff, 1077px 1019px #001aff,
  1335px 872px #001aff, 1647px 1298px #001aff, 1233px 1387px #001aff, 698px 1036px #001aff,
  659px 1860px #001aff, 388px 1412px #001aff, 1212px 458px #001aff, 755px 1468px #001aff,
  696px 1654px #001aff, 1144px 60px #001aff;
  animation: animate_stars 30s linear infinite;
}

.stars1:after {
  content: "";
  width: 1px;
  height: 1px;
  position: absolute;
  top: 2000px;
  background-color: transparent;
  box-shadow: 779px 1331px #001aff, 324px 42px #001aff, 303px 586px #001aff,
  1312px 276px #001aff, 451px 625px #001aff, 521px 1931px #001aff, 1087px 1871px #001aff,
  36px 1546px #001aff, 132px 934px #001aff, 1698px 901px #001aff, 1418px 664px #001aff,
  1448px 1157px #001aff, 1084px 232px #001aff, 347px 1776px #001aff, 1722px 243px #001aff,
  1629px 835px #001aff, 479px 969px #001aff, 1231px 960px #001aff, 586px 384px #001aff,
  164px 527px #001aff, 8px 646px #001aff, 1150px 1126px #001aff, 665px 1357px #001aff,
  1556px 1982px #001aff, 1260px 1961px #001aff, 1675px 1741px #001aff,
  1843px 1514px #001aff, 718px 1628px #001aff, 242px 1343px #001aff, 1497px 1880px #001aff,
  1364px 230px #001aff, 1739px 1302px #001aff, 636px 959px #001aff, 304px 686px #001aff,
  614px 751px #001aff, 1935px 816px #001aff, 1428px 60px #001aff, 355px 335px #001aff,
  1594px 158px #001aff, 90px 60px #001aff, 1553px 162px #001aff, 1239px 1825px #001aff,
  1945px 587px #001aff, 749px 1785px #001aff, 1987px 1172px #001aff, 1301px 1237px #001aff,
  1039px 342px #001aff, 1585px 1481px #001aff, 995px 1048px #001aff, 524px 932px #001aff,
  214px 413px #001aff, 1701px 1300px #001aff, 1037px 1613px #001aff, 1871px 996px #001aff,
  1360px 1635px #001aff, 1110px 1313px #001aff, 412px 1783px #001aff, 1949px 177px #001aff,
  903px 1854px #001aff, 700px 1936px #001aff, 378px 125px #001aff, 308px 834px #001aff,
  1118px 962px #001aff, 1350px 1929px #001aff, 781px 1811px #001aff, 561px 137px #001aff,
  757px 1148px #001aff, 1670px 1979px #001aff, 343px 739px #001aff, 945px 795px #001aff,
  576px 1903px #001aff, 1078px 1436px #001aff, 1583px 450px #001aff, 1366px 474px #001aff,
  297px 1873px #001aff, 192px 162px #001aff, 1624px 1633px #001aff, 59px 453px #001aff,
  82px 1872px #001aff, 1933px 498px #001aff, 1966px 1974px #001aff, 1975px 1688px #001aff,
  779px 314px #001aff, 1858px 1543px #001aff, 73px 1507px #001aff, 1693px 975px #001aff,
  1683px 108px #001aff, 1768px 1654px #001aff, 654px 14px #001aff, 494px 171px #001aff,
  1689px 1895px #001aff, 1660px 263px #001aff, 1031px 903px #001aff, 1203px 1393px #001aff,
  1333px 1421px #001aff, 1113px 41px #001aff, 1206px 1645px #001aff, 1325px 1635px #001aff,
  142px 388px #001aff, 572px 215px #001aff, 1535px 296px #001aff, 1419px 407px #001aff,
  1379px 1003px #001aff, 329px 469px #001aff, 1791px 1652px #001aff, 935px 1802px #001aff,
  1330px 1820px #001aff, 421px 1933px #001aff, 828px 365px #001aff, 275px 316px #001aff,
  707px 960px #001aff, 1605px 1554px #001aff, 625px 58px #001aff, 717px 1697px #001aff,
  1669px 246px #001aff, 1925px 322px #001aff, 1154px 1803px #001aff, 1929px 295px #001aff,
  1248px 240px #001aff, 1045px 1755px #001aff, 166px 942px #001aff, 1888px 1773px #001aff,
  678px 1963px #001aff, 1370px 569px #001aff, 1974px 1400px #001aff, 1786px 460px #001aff,
  51px 307px #001aff, 784px 1400px #001aff, 730px 1258px #001aff, 1712px 393px #001aff,
  416px 170px #001aff, 1797px 1932px #001aff, 572px 219px #001aff, 1557px 1856px #001aff,
  218px 8px #001aff, 348px 1334px #001aff, 469px 413px #001aff, 385px 1738px #001aff,
  1357px 1818px #001aff, 240px 942px #001aff, 248px 1847px #001aff, 1535px 806px #001aff,
  236px 1514px #001aff, 1429px 1556px #001aff, 73px 1633px #001aff, 1398px 1121px #001aff,
  671px 1301px #001aff, 1404px 1663px #001aff, 740px 1018px #001aff, 1600px 377px #001aff,
  785px 514px #001aff, 112px 1084px #001aff, 1915px 1887px #001aff, 1463px 1848px #001aff,
  687px 1115px #001aff, 1268px 1768px #001aff, 1729px 1425px #001aff,
  1284px 1022px #001aff, 801px 974px #001aff, 1975px 1317px #001aff, 1354px 834px #001aff,
  1446px 1484px #001aff, 1283px 1786px #001aff, 11px 523px #001aff, 1842px 236px #001aff,
  1355px 654px #001aff, 429px 7px #001aff, 1033px 1128px #001aff, 157px 297px #001aff,
  545px 635px #001aff, 52px 1080px #001aff, 827px 1520px #001aff, 1121px 490px #001aff,
  9px 309px #001aff, 1744px 1586px #001aff, 1014px 417px #001aff, 1534px 524px #001aff,
  958px 552px #001aff, 1403px 1496px #001aff, 387px 703px #001aff, 1522px 548px #001aff,
  1355px 282px #001aff, 1532px 601px #001aff, 1838px 790px #001aff, 290px 259px #001aff,
  295px 598px #001aff, 1601px 539px #001aff, 1561px 1272px #001aff, 34px 1922px #001aff,
  1024px 543px #001aff, 467px 369px #001aff, 722px 333px #001aff, 1976px 1255px #001aff,
  766px 983px #001aff, 1582px 1285px #001aff, 12px 512px #001aff, 617px 1410px #001aff,
  682px 577px #001aff, 1334px 1438px #001aff, 439px 327px #001aff, 1617px 1661px #001aff,
  673px 129px #001aff, 794px 941px #001aff, 1386px 1902px #001aff, 37px 1353px #001aff,
  1467px 1353px #001aff, 416px 18px #001aff, 187px 344px #001aff, 200px 1898px #001aff,
  1491px 1619px #001aff, 811px 347px #001aff, 924px 1827px #001aff, 945px 217px #001aff,
  1735px 1228px #001aff, 379px 1890px #001aff, 79px 761px #001aff, 825px 1837px #001aff,
  1980px 1558px #001aff, 1308px 1573px #001aff, 1488px 1726px #001aff,
  382px 1208px #001aff, 522px 595px #001aff, 1277px 1898px #001aff, 354px 552px #001aff,
  161px 1784px #001aff, 614px 251px #001aff, 526px 1576px #001aff, 17px 212px #001aff,
  179px 996px #001aff, 467px 1208px #001aff, 1944px 1838px #001aff, 1140px 1093px #001aff,
  858px 1007px #001aff, 200px 1064px #001aff, 423px 1964px #001aff, 1945px 439px #001aff,
  1377px 689px #001aff, 1120px 1437px #001aff, 1876px 668px #001aff, 907px 1324px #001aff,
  343px 1976px #001aff, 1816px 1501px #001aff, 1849px 177px #001aff, 647px 91px #001aff,
  1984px 1012px #001aff, 1336px 1300px #001aff, 128px 648px #001aff, 305px 1060px #001aff,
  1324px 826px #001aff, 1263px 1314px #001aff, 1801px 629px #001aff, 1614px 1555px #001aff,
  1634px 90px #001aff, 1603px 452px #001aff, 891px 1984px #001aff, 1556px 1906px #001aff,
  121px 68px #001aff, 1676px 1714px #001aff, 516px 936px #001aff, 1947px 1492px #001aff,
  1455px 1519px #001aff, 45px 602px #001aff, 205px 1039px #001aff, 793px 172px #001aff,
  1562px 1739px #001aff, 1056px 110px #001aff, 1512px 379px #001aff, 1795px 1621px #001aff,
  1848px 607px #001aff, 262px 1719px #001aff, 477px 991px #001aff, 483px 883px #001aff,
  1239px 1197px #001aff, 1496px 647px #001aff, 1649px 25px #001aff, 1491px 1946px #001aff,
  119px 996px #001aff, 179px 1472px #001aff, 1341px 808px #001aff, 1565px 1700px #001aff,
  407px 1544px #001aff, 1754px 357px #001aff, 1288px 981px #001aff, 902px 1997px #001aff,
  1755px 1668px #001aff, 186px 877px #001aff, 1202px 1882px #001aff, 461px 1213px #001aff,
  1400px 748px #001aff, 1969px 1899px #001aff, 809px 522px #001aff, 514px 1219px #001aff,
  374px 275px #001aff, 938px 1973px #001aff, 357px 552px #001aff, 144px 1722px #001aff,
  1572px 912px #001aff, 402px 1858px #001aff, 1544px 1195px #001aff, 667px 1257px #001aff,
  727px 1496px #001aff, 993px 232px #001aff, 1772px 313px #001aff, 1040px 1590px #001aff,
  1204px 1973px #001aff, 1268px 79px #001aff, 1555px 1048px #001aff, 986px 1707px #001aff,
  978px 1710px #001aff, 713px 360px #001aff, 407px 863px #001aff, 461px 736px #001aff,
  284px 1608px #001aff, 103px 430px #001aff, 1283px 1319px #001aff, 977px 1186px #001aff,
  1966px 1516px #001aff, 1287px 1129px #001aff, 70px 1098px #001aff, 1189px 889px #001aff,
  1126px 1734px #001aff, 309px 1292px #001aff, 879px 764px #001aff, 65px 473px #001aff,
  1003px 1959px #001aff, 658px 791px #001aff, 402px 1576px #001aff, 35px 622px #001aff,
  529px 1589px #001aff, 164px 666px #001aff, 1876px 1290px #001aff, 1541px 526px #001aff,
  270px 1297px #001aff, 440px 865px #001aff, 1500px 802px #001aff, 182px 1754px #001aff,
  1264px 892px #001aff, 272px 1249px #001aff, 1289px 1535px #001aff, 190px 1646px #001aff,
  955px 242px #001aff, 1456px 1597px #001aff, 1727px 1983px #001aff, 635px 801px #001aff,
  226px 455px #001aff, 1396px 1710px #001aff, 849px 1863px #001aff, 237px 1264px #001aff,
  839px 140px #001aff, 1122px 735px #001aff, 1280px 15px #001aff, 1318px 242px #001aff,
  1819px 1148px #001aff, 333px 1392px #001aff, 1949px 553px #001aff, 1878px 1332px #001aff,
  467px 548px #001aff, 1812px 1082px #001aff, 1067px 193px #001aff, 243px 156px #001aff,
  483px 1616px #001aff, 1714px 933px #001aff, 759px 1800px #001aff, 1822px 995px #001aff,
  1877px 572px #001aff, 581px 1084px #001aff, 107px 732px #001aff, 642px 1837px #001aff,
  166px 1493px #001aff, 1555px 198px #001aff, 819px 307px #001aff, 947px 345px #001aff,
  827px 224px #001aff, 927px 1394px #001aff, 540px 467px #001aff, 1093px 405px #001aff,
  1140px 927px #001aff, 130px 529px #001aff, 33px 1980px #001aff, 1147px 1663px #001aff,
  1616px 1436px #001aff, 528px 710px #001aff, 798px 1100px #001aff, 505px 1480px #001aff,
  899px 641px #001aff, 1909px 1949px #001aff, 1311px 964px #001aff, 979px 1301px #001aff,
  1393px 969px #001aff, 1793px 1886px #001aff, 292px 357px #001aff, 1196px 1718px #001aff,
  1290px 1994px #001aff, 537px 1973px #001aff, 1181px 1674px #001aff,
  1740px 1566px #001aff, 1307px 265px #001aff, 922px 522px #001aff, 1892px 472px #001aff,
  384px 1746px #001aff, 392px 1098px #001aff, 647px 548px #001aff, 390px 1498px #001aff,
  1246px 138px #001aff, 730px 876px #001aff, 192px 1472px #001aff, 1790px 1789px #001aff,
  928px 311px #001aff, 1253px 1647px #001aff, 747px 1921px #001aff, 1561px 1025px #001aff,
  1533px 1292px #001aff, 1985px 195px #001aff, 728px 729px #001aff, 1712px 1936px #001aff,
  512px 1717px #001aff, 1528px 483px #001aff, 313px 1642px #001aff, 281px 1849px #001aff,
  1212px 799px #001aff, 435px 1191px #001aff, 1422px 611px #001aff, 1718px 1964px #001aff,
  411px 944px #001aff, 210px 636px #001aff, 1502px 1295px #001aff, 1434px 349px #001aff,
  769px 60px #001aff, 747px 1053px #001aff, 789px 504px #001aff, 1436px 1264px #001aff,
  1893px 1225px #001aff, 1394px 1788px #001aff, 1108px 1317px #001aff,
  1673px 1395px #001aff, 854px 1010px #001aff, 1705px 80px #001aff, 1858px 148px #001aff,
  1729px 344px #001aff, 1388px 664px #001aff, 895px 406px #001aff, 1479px 157px #001aff,
  1441px 1157px #001aff, 552px 1900px #001aff, 516px 364px #001aff, 1647px 189px #001aff,
  1427px 1071px #001aff, 785px 729px #001aff, 1080px 1710px #001aff, 504px 204px #001aff,
  1177px 1622px #001aff, 657px 34px #001aff, 1296px 1099px #001aff, 248px 180px #001aff,
  1212px 1568px #001aff, 667px 1562px #001aff, 695px 841px #001aff, 1608px 1247px #001aff,
  751px 882px #001aff, 87px 167px #001aff, 607px 1368px #001aff, 1363px 1203px #001aff,
  1836px 317px #001aff, 1668px 1703px #001aff, 830px 1154px #001aff, 1721px 1398px #001aff,
  1601px 1280px #001aff, 976px 874px #001aff, 1743px 254px #001aff, 1020px 1815px #001aff,
  1670px 1766px #001aff, 1890px 735px #001aff, 1379px 136px #001aff, 1864px 695px #001aff,
  206px 965px #001aff, 1404px 1932px #001aff, 1923px 1360px #001aff, 247px 682px #001aff,
  519px 1708px #001aff, 645px 750px #001aff, 1164px 1204px #001aff, 834px 323px #001aff,
  172px 1350px #001aff, 213px 972px #001aff, 1837px 190px #001aff, 285px 1806px #001aff,
  1047px 1299px #001aff, 1548px 825px #001aff, 1730px 324px #001aff, 1346px 1909px #001aff,
  772px 270px #001aff, 345px 1190px #001aff, 478px 1433px #001aff, 1479px 25px #001aff,
  1994px 1830px #001aff, 1744px 732px #001aff, 20px 1635px #001aff, 690px 1795px #001aff,
  1594px 569px #001aff, 579px 245px #001aff, 1398px 733px #001aff, 408px 1352px #001aff,
  1774px 120px #001aff, 1152px 1370px #001aff, 1698px 1810px #001aff, 710px 1450px #001aff,
  665px 286px #001aff, 493px 1720px #001aff, 786px 5px #001aff, 637px 1140px #001aff,
  764px 324px #001aff, 927px 310px #001aff, 938px 1424px #001aff, 1884px 744px #001aff,
  913px 462px #001aff, 1831px 1936px #001aff, 1527px 249px #001aff, 36px 1381px #001aff,
  1597px 581px #001aff, 1530px 355px #001aff, 949px 459px #001aff, 799px 828px #001aff,
  242px 1471px #001aff, 654px 797px #001aff, 796px 594px #001aff, 1365px 678px #001aff,
  752px 23px #001aff, 1630px 541px #001aff, 982px 72px #001aff, 1733px 1831px #001aff,
  21px 412px #001aff, 775px 998px #001aff, 335px 1945px #001aff, 264px 583px #001aff,
  158px 1311px #001aff, 528px 164px #001aff, 1978px 574px #001aff, 717px 1203px #001aff,
  734px 1591px #001aff, 1555px 820px #001aff, 16px 1943px #001aff, 1625px 1177px #001aff,
  1236px 690px #001aff, 1585px 1590px #001aff, 1737px 1728px #001aff, 721px 698px #001aff,
  1804px 1186px #001aff, 166px 980px #001aff, 1850px 230px #001aff, 330px 1712px #001aff,
  95px 797px #001aff, 1948px 1078px #001aff, 469px 939px #001aff, 1269px 1899px #001aff,
  955px 1220px #001aff, 1137px 1075px #001aff, 312px 1293px #001aff, 986px 1762px #001aff,
  1103px 1238px #001aff, 428px 1993px #001aff, 355px 570px #001aff, 977px 1836px #001aff,
  1395px 1092px #001aff, 276px 913px #001aff, 1743px 656px #001aff, 773px 502px #001aff,
  1686px 1322px #001aff, 1516px 1945px #001aff, 1334px 501px #001aff, 266px 156px #001aff,
  455px 655px #001aff, 798px 72px #001aff, 1059px 1259px #001aff, 1402px 1687px #001aff,
  236px 1329px #001aff, 1455px 786px #001aff, 146px 1228px #001aff, 1851px 823px #001aff,
  1062px 100px #001aff, 1220px 953px #001aff, 20px 1826px #001aff, 36px 1063px #001aff,
  1525px 338px #001aff, 790px 1521px #001aff, 741px 1099px #001aff, 288px 1489px #001aff,
  700px 1060px #001aff, 390px 1071px #001aff, 411px 1036px #001aff, 1853px 1072px #001aff,
  1446px 1085px #001aff, 1164px 874px #001aff, 924px 925px #001aff, 291px 271px #001aff,
  1257px 1964px #001aff, 1580px 1352px #001aff, 1507px 1216px #001aff, 211px 956px #001aff,
  985px 1195px #001aff, 975px 1640px #001aff, 518px 101px #001aff, 663px 1395px #001aff,
  914px 532px #001aff, 145px 1320px #001aff, 69px 1397px #001aff, 982px 523px #001aff,
  257px 725px #001aff, 1599px 831px #001aff, 1636px 1513px #001aff, 1250px 1158px #001aff,
  1132px 604px #001aff, 183px 102px #001aff, 1057px 318px #001aff, 1247px 1835px #001aff,
  1983px 1110px #001aff, 1077px 1455px #001aff, 921px 1770px #001aff, 806px 1350px #001aff,
  1938px 1992px #001aff, 855px 1260px #001aff, 902px 1345px #001aff, 658px 1908px #001aff,
  1845px 679px #001aff, 712px 1482px #001aff, 595px 950px #001aff, 1784px 1992px #001aff,
  1847px 1785px #001aff, 691px 1004px #001aff, 175px 1179px #001aff, 1666px 1911px #001aff,
  41px 61px #001aff, 971px 1080px #001aff, 1830px 1450px #001aff, 1351px 1518px #001aff,
  1257px 99px #001aff, 1395px 1498px #001aff, 1117px 252px #001aff, 1779px 597px #001aff,
  1346px 729px #001aff, 1108px 1144px #001aff, 402px 691px #001aff, 72px 496px #001aff,
  1673px 1604px #001aff, 1497px 974px #001aff, 1865px 1664px #001aff, 88px 806px #001aff,
  918px 77px #001aff, 244px 1118px #001aff, 256px 1820px #001aff, 1851px 1840px #001aff,
  605px 1851px #001aff, 634px 383px #001aff, 865px 37px #001aff, 943px 1024px #001aff,
  1951px 177px #001aff, 1097px 523px #001aff, 985px 1700px #001aff, 1243px 122px #001aff,
  768px 1070px #001aff, 468px 194px #001aff, 320px 1867px #001aff, 1850px 185px #001aff,
  380px 1616px #001aff, 468px 1294px #001aff, 1122px 1743px #001aff, 884px 299px #001aff,
  1300px 1917px #001aff, 1860px 396px #001aff, 1270px 990px #001aff, 529px 733px #001aff,
  1975px 1347px #001aff, 1885px 685px #001aff, 226px 506px #001aff, 651px 878px #001aff,
  1323px 680px #001aff, 1284px 680px #001aff, 238px 1967px #001aff, 911px 174px #001aff,
  1111px 521px #001aff, 1150px 85px #001aff, 794px 502px #001aff, 484px 1856px #001aff,
  1809px 368px #001aff, 112px 953px #001aff, 590px 1009px #001aff, 1655px 311px #001aff,
  100px 1026px #001aff, 1803px 352px #001aff, 865px 306px #001aff, 1077px 1019px #001aff,
  1335px 872px #001aff, 1647px 1298px #001aff, 1233px 1387px #001aff, 698px 1036px #001aff,
  659px 1860px #001aff, 388px 1412px #001aff, 1212px 458px #001aff, 755px 1468px #001aff,
  696px 1654px #001aff, 1144px 60px #001aff;
}



.stars2 {
  width: 2px;
  height: 2px;
  background-color: transparent;
  position: relative;
  box-shadow: 1448px 320px #001aff, 1775px 1663px #001aff, 332px 1364px #001aff,
  878px 340px #001aff, 569px 1832px #001aff, 1422px 1684px #001aff, 1946px 1907px #001aff,
  121px 979px #001aff, 1044px 1069px #001aff, 463px 381px #001aff, 423px 112px #001aff,
  523px 1179px #001aff, 779px 654px #001aff, 1398px 694px #001aff, 1085px 1464px #001aff,
  1599px 1869px #001aff, 801px 1882px #001aff, 779px 1231px #001aff, 552px 932px #001aff,
  1057px 1196px #001aff, 282px 1280px #001aff, 496px 1986px #001aff, 1833px 1120px #001aff,
  1802px 1293px #001aff, 6px 1696px #001aff, 412px 1902px #001aff, 605px 438px #001aff,
  24px 1212px #001aff, 234px 1320px #001aff, 544px 344px #001aff, 1107px 170px #001aff,
  1603px 196px #001aff, 905px 648px #001aff, 68px 1458px #001aff, 649px 1969px #001aff,
  744px 675px #001aff, 1127px 478px #001aff, 714px 1814px #001aff, 1486px 526px #001aff,
  270px 1636px #001aff, 1931px 149px #001aff, 1807px 378px #001aff, 8px 390px #001aff,
  1415px 699px #001aff, 1473px 1211px #001aff, 1590px 141px #001aff, 270px 1705px #001aff,
  69px 1423px #001aff, 1108px 1053px #001aff, 1946px 128px #001aff, 371px 371px #001aff,
  1490px 220px #001aff, 357px 1885px #001aff, 363px 363px #001aff, 1896px 1256px #001aff,
  1979px 1050px #001aff, 947px 1342px #001aff, 1754px 242px #001aff, 514px 974px #001aff,
  65px 1477px #001aff, 1840px 547px #001aff, 950px 695px #001aff, 459px 1150px #001aff,
  1124px 1502px #001aff, 481px 940px #001aff, 680px 839px #001aff, 797px 1169px #001aff,
  1977px 1491px #001aff, 734px 1724px #001aff, 210px 298px #001aff, 816px 628px #001aff,
  686px 770px #001aff, 1721px 267px #001aff, 1663px 511px #001aff, 1481px 1141px #001aff,
  582px 248px #001aff, 1308px 953px #001aff, 628px 657px #001aff, 897px 1535px #001aff,
  270px 931px #001aff, 791px 467px #001aff, 1336px 1732px #001aff, 1013px 1653px #001aff,
  1911px 956px #001aff, 587px 816px #001aff, 83px 456px #001aff, 930px 1478px #001aff,
  1587px 1694px #001aff, 614px 1200px #001aff, 302px 1782px #001aff, 1711px 1432px #001aff,
  443px 904px #001aff, 1666px 714px #001aff, 1588px 1167px #001aff, 273px 1075px #001aff,
  1679px 461px #001aff, 721px 664px #001aff, 1202px 10px #001aff, 166px 1126px #001aff,
  331px 1628px #001aff, 430px 1565px #001aff, 1585px 509px #001aff, 640px 38px #001aff,
  822px 837px #001aff, 1760px 1664px #001aff, 1122px 1458px #001aff, 398px 131px #001aff,
  689px 285px #001aff, 460px 652px #001aff, 1627px 365px #001aff, 348px 1648px #001aff,
  819px 1946px #001aff, 981px 1917px #001aff, 323px 76px #001aff, 979px 684px #001aff,
  887px 536px #001aff, 1348px 1596px #001aff, 1055px 666px #001aff, 1402px 1797px #001aff,
  1300px 1055px #001aff, 937px 238px #001aff, 1474px 1815px #001aff, 1144px 1710px #001aff,
  1629px 1087px #001aff, 911px 919px #001aff, 771px 819px #001aff, 403px 720px #001aff,
  163px 736px #001aff, 1062px 238px #001aff, 1774px 818px #001aff, 1874px 1178px #001aff,
  1177px 699px #001aff, 1244px 1244px #001aff, 1371px 58px #001aff, 564px 1515px #001aff,
  1824px 487px #001aff, 929px 702px #001aff, 394px 1348px #001aff, 1161px 641px #001aff,
  219px 1841px #001aff, 358px 941px #001aff, 140px 1759px #001aff, 1019px 1345px #001aff,
  274px 436px #001aff, 1433px 1605px #001aff, 1798px 1426px #001aff, 294px 1848px #001aff,
  1681px 1877px #001aff, 1344px 1824px #001aff, 1439px 1632px #001aff,
  161px 1012px #001aff, 1308px 588px #001aff, 1789px 582px #001aff, 721px 1910px #001aff,
  318px 218px #001aff, 607px 319px #001aff, 495px 535px #001aff, 1552px 1575px #001aff,
  1562px 67px #001aff, 403px 926px #001aff, 1096px 1800px #001aff, 1814px 1709px #001aff,
  1882px 1831px #001aff, 533px 46px #001aff, 823px 969px #001aff, 530px 165px #001aff,
  1030px 352px #001aff, 1681px 313px #001aff, 338px 115px #001aff, 1607px 211px #001aff,
  1718px 1184px #001aff, 1589px 659px #001aff, 278px 355px #001aff, 464px 1464px #001aff,
  1165px 277px #001aff, 950px 694px #001aff, 1746px 293px #001aff, 793px 911px #001aff,
  528px 773px #001aff, 1883px 1694px #001aff, 748px 182px #001aff, 1924px 1531px #001aff,
  100px 636px #001aff, 1473px 1445px #001aff, 1264px 1244px #001aff, 850px 1377px #001aff,
  987px 1976px #001aff, 933px 1761px #001aff, 922px 1270px #001aff, 500px 396px #001aff,
  1324px 8px #001aff, 1967px 1814px #001aff, 1072px 1401px #001aff, 961px 37px #001aff,
  156px 81px #001aff, 1915px 502px #001aff, 1076px 1846px #001aff, 152px 1669px #001aff,
  986px 1529px #001aff, 1667px 1137px #001aff;
  animation: animate_stars 50s linear infinite;
}

.stars2:after {
  content: "";
  width: 2px;
  height: 2px;
  position: absolute;
  top: 2000px;
  background-color: transparent;
  background:transparent;
  box-shadow: 1448px 320px #001aff, 1775px 1663px #001aff, 332px 1364px #001aff,
  878px 340px #001aff, 569px 1832px #001aff, 1422px 1684px #001aff, 1946px 1907px #001aff,
  121px 979px #001aff, 1044px 1069px #001aff, 463px 381px #001aff, 423px 112px #001aff,
  523px 1179px #001aff, 779px 654px #001aff, 1398px 694px #001aff, 1085px 1464px #001aff,
  1599px 1869px #001aff, 801px 1882px #001aff, 779px 1231px #001aff, 552px 932px #001aff,
  1057px 1196px #001aff, 282px 1280px #001aff, 496px 1986px #001aff, 1833px 1120px #001aff,
  1802px 1293px #001aff, 6px 1696px #001aff, 412px 1902px #001aff, 605px 438px #001aff,
  24px 1212px #001aff, 234px 1320px #001aff, 544px 344px #001aff, 1107px 170px #001aff,
  1603px 196px #001aff, 905px 648px #001aff, 68px 1458px #001aff, 649px 1969px #001aff,
  744px 675px #001aff, 1127px 478px #001aff, 714px 1814px #001aff, 1486px 526px #001aff,
  270px 1636px #001aff, 1931px 149px #001aff, 1807px 378px #001aff, 8px 390px #001aff,
  1415px 699px #001aff, 1473px 1211px #001aff, 1590px 141px #001aff, 270px 1705px #001aff,
  69px 1423px #001aff, 1108px 1053px #001aff, 1946px 128px #001aff, 371px 371px #001aff,
  1490px 220px #001aff, 357px 1885px #001aff, 363px 363px #001aff, 1896px 1256px #001aff,
  1979px 1050px #001aff, 947px 1342px #001aff, 1754px 242px #001aff, 514px 974px #001aff,
  65px 1477px #001aff, 1840px 547px #001aff, 950px 695px #001aff, 459px 1150px #001aff,
  1124px 1502px #001aff, 481px 940px #001aff, 680px 839px #001aff, 797px 1169px #001aff,
  1977px 1491px #001aff, 734px 1724px #001aff, 210px 298px #001aff, 816px 628px #001aff,
  686px 770px #001aff, 1721px 267px #001aff, 1663px 511px #001aff, 1481px 1141px #001aff,
  582px 248px #001aff, 1308px 953px #001aff, 628px 657px #001aff, 897px 1535px #001aff,
  270px 931px #001aff, 791px 467px #001aff, 1336px 1732px #001aff, 1013px 1653px #001aff,
  1911px 956px #001aff, 587px 816px #001aff, 83px 456px #001aff, 930px 1478px #001aff,
  1587px 1694px #001aff, 614px 1200px #001aff, 302px 1782px #001aff, 1711px 1432px #001aff,
  443px 904px #001aff, 1666px 714px #001aff, 1588px 1167px #001aff, 273px 1075px #001aff,
  1679px 461px #001aff, 721px 664px #001aff, 1202px 10px #001aff, 166px 1126px #001aff,
  331px 1628px #001aff, 430px 1565px #001aff, 1585px 509px #001aff, 640px 38px #001aff,
  822px 837px #001aff, 1760px 1664px #001aff, 1122px 1458px #001aff, 398px 131px #001aff,
  689px 285px #001aff, 460px 652px #001aff, 1627px 365px #001aff, 348px 1648px #001aff,
  819px 1946px #001aff, 981px 1917px #001aff, 323px 76px #001aff, 979px 684px #001aff,
  887px 536px #001aff, 1348px 1596px #001aff, 1055px 666px #001aff, 1402px 1797px #001aff,
  1300px 1055px #001aff, 937px 238px #001aff, 1474px 1815px #001aff, 1144px 1710px #001aff,
  1629px 1087px #001aff, 911px 919px #001aff, 771px 819px #001aff, 403px 720px #001aff,
  163px 736px #001aff, 1062px 238px #001aff, 1774px 818px #001aff, 1874px 1178px #001aff,
  1177px 699px #001aff, 1244px 1244px #001aff, 1371px 58px #001aff, 564px 1515px #001aff,
  1824px 487px #001aff, 929px 702px #001aff, 394px 1348px #001aff, 1161px 641px #001aff,
  219px 1841px #001aff, 358px 941px #001aff, 140px 1759px #001aff, 1019px 1345px #001aff,
  274px 436px #001aff, 1433px 1605px #001aff, 1798px 1426px #001aff, 294px 1848px #001aff,
  1681px 1877px #001aff, 1344px 1824px #001aff, 1439px 1632px #001aff,
  161px 1012px #001aff, 1308px 588px #001aff, 1789px 582px #001aff, 721px 1910px #001aff,
  318px 218px #001aff, 607px 319px #001aff, 495px 535px #001aff, 1552px 1575px #001aff,
  1562px 67px #001aff, 403px 926px #001aff, 1096px 1800px #001aff, 1814px 1709px #001aff,
  1882px 1831px #001aff, 533px 46px #001aff, 823px 969px #001aff, 530px 165px #001aff,
  1030px 352px #001aff, 1681px 313px #001aff, 338px 115px #001aff, 1607px 211px #001aff,
  1718px 1184px #001aff, 1589px 659px #001aff, 278px 355px #001aff, 464px 1464px #001aff,
  1165px 277px #001aff, 950px 694px #001aff, 1746px 293px #001aff, 793px 911px #001aff,
  528px 773px #001aff, 1883px 1694px #001aff, 748px 182px #001aff, 1924px 1531px #001aff,
  100px 636px #001aff, 1473px 1445px #001aff, 1264px 1244px #001aff, 850px 1377px #001aff,
  987px 1976px #001aff, 933px 1761px #001aff, 922px 1270px #001aff, 500px 396px #001aff,
  1324px 8px #001aff, 1967px 1814px #001aff, 1072px 1401px #001aff, 961px 37px #001aff,
  156px 81px #001aff, 1915px 502px #001aff, 1076px 1846px #001aff, 152px 1669px #001aff,
  986px 1529px #001aff, 1667px 1137px #001aff;
}





.stars3 {
  width: 3px;
  height: 3px;
  background-color: transparent;
  position: relative;
  box-shadow: 387px 1878px #001aff, 760px 1564px #001aff, 1487px 999px #001aff,
  948px 1828px #001aff, 1977px 1001px #001aff, 1284px 1963px #001aff, 656px 284px #001aff,
  1268px 1635px #001aff, 1820px 598px #001aff, 642px 1900px #001aff, 296px 57px #001aff,
  921px 1620px #001aff, 476px 1858px #001aff, 658px 613px #001aff, 1171px 1363px #001aff,
  1419px 283px #001aff, 1037px 731px #001aff, 503px 663px #001aff, 1562px 463px #001aff,
  383px 1197px #001aff, 1171px 1233px #001aff, 876px 1768px #001aff, 856px 1615px #001aff,
  1375px 1924px #001aff, 1725px 918px #001aff, 952px 119px #001aff, 768px 1212px #001aff,
  992px 1462px #001aff, 1929px 717px #001aff, 1947px 755px #001aff, 1818px 1123px #001aff,
  1896px 1672px #001aff, 460px 198px #001aff, 256px 271px #001aff, 752px 544px #001aff,
  1222px 1859px #001aff, 1851px 443px #001aff, 313px 1858px #001aff, 709px 446px #001aff,
  1546px 697px #001aff, 674px 1155px #001aff, 1112px 130px #001aff, 355px 1790px #001aff,
  1496px 974px #001aff, 1696px 480px #001aff, 1316px 1265px #001aff, 1645px 1063px #001aff,
  1182px 237px #001aff, 427px 1582px #001aff, 859px 253px #001aff, 458px 939px #001aff,
  1517px 1644px #001aff, 1943px 60px #001aff, 212px 1650px #001aff, 966px 1786px #001aff,
  473px 712px #001aff, 130px 76px #001aff, 1417px 1186px #001aff, 909px 1580px #001aff,
  1913px 762px #001aff, 204px 1143px #001aff, 1998px 1057px #001aff, 1468px 1301px #001aff,
  144px 1676px #001aff, 21px 1601px #001aff, 382px 1362px #001aff, 912px 753px #001aff,
  1488px 1405px #001aff, 802px 156px #001aff, 174px 550px #001aff, 338px 1366px #001aff,
  1197px 774px #001aff, 602px 486px #001aff, 682px 1877px #001aff, 348px 1503px #001aff,
  407px 1139px #001aff, 950px 1400px #001aff, 922px 1139px #001aff, 1697px 293px #001aff,
  1238px 1281px #001aff, 1038px 1197px #001aff, 376px 1889px #001aff,
  1255px 1680px #001aff, 1008px 1316px #001aff, 1538px 1447px #001aff,
  1186px 874px #001aff, 1967px 640px #001aff, 1341px 19px #001aff, 29px 1732px #001aff,
  16px 1650px #001aff, 1021px 1075px #001aff, 723px 424px #001aff, 1175px 41px #001aff,
  494px 1957px #001aff, 1296px 431px #001aff, 175px 1507px #001aff, 831px 121px #001aff,
  498px 1947px #001aff, 617px 880px #001aff, 240px 403px #001aff;
  animation: animate_stars 100s linear infinite;
}

.stars3:after {
  content: "";
  width: 3px;
  height: 3px;
  position: absolute;
  top: 2000px;
  background-color: transparent;
  box-shadow: 387px 1878px #001aff, 760px 1564px #001aff, 1487px 999px #001aff,
  948px 1828px #001aff, 1977px 1001px #001aff, 1284px 1963px #001aff, 656px 284px #001aff,
  1268px 1635px #001aff, 1820px 598px #001aff, 642px 1900px #001aff, 296px 57px #001aff,
  921px 1620px #001aff, 476px 1858px #001aff, 658px 613px #001aff, 1171px 1363px #001aff,
  1419px 283px #001aff, 1037px 731px #001aff, 503px 663px #001aff, 1562px 463px #001aff,
  383px 1197px #001aff, 1171px 1233px #001aff, 876px 1768px #001aff, 856px 1615px #001aff,
  1375px 1924px #001aff, 1725px 918px #001aff, 952px 119px #001aff, 768px 1212px #001aff,
  992px 1462px #001aff, 1929px 717px #001aff, 1947px 755px #001aff, 1818px 1123px #001aff,
  1896px 1672px #001aff, 460px 198px #001aff, 256px 271px #001aff, 752px 544px #001aff,
  1222px 1859px #001aff, 1851px 443px #001aff, 313px 1858px #001aff, 709px 446px #001aff,
  1546px 697px #001aff, 674px 1155px #001aff, 1112px 130px #001aff, 355px 1790px #001aff,
  1496px 974px #001aff, 1696px 480px #001aff, 1316px 1265px #001aff, 1645px 1063px #001aff,
  1182px 237px #001aff, 427px 1582px #001aff, 859px 253px #001aff, 458px 939px #001aff,
  1517px 1644px #001aff, 1943px 60px #001aff, 212px 1650px #001aff, 966px 1786px #001aff,
  473px 712px #001aff, 130px 76px #001aff, 1417px 1186px #001aff, 909px 1580px #001aff,
  1913px 762px #001aff, 204px 1143px #001aff, 1998px 1057px #001aff, 1468px 1301px #001aff,
  144px 1676px #001aff, 21px 1601px #001aff, 382px 1362px #001aff, 912px 753px #001aff,
  1488px 1405px #001aff, 802px 156px #001aff, 174px 550px #001aff, 338px 1366px #001aff,
  1197px 774px #001aff, 602px 486px #001aff, 682px 1877px #001aff, 348px 1503px #001aff,
  407px 1139px #001aff, 950px 1400px #001aff, 922px 1139px #001aff, 1697px 293px #001aff,
  1238px 1281px #001aff, 1038px 1197px #001aff, 376px 1889px #001aff,
  1255px 1680px #001aff, 1008px 1316px #001aff, 1538px 1447px #001aff,
  1186px 874px #001aff, 1967px 640px #001aff, 1341px 19px #001aff, 29px 1732px #001aff,
  16px 1650px #001aff, 1021px 1075px #001aff, 723px 424px #001aff, 1175px 41px #001aff,
  494px 1957px #001aff, 1296px 431px #001aff, 175px 1507px #001aff, 831px 121px #001aff,
  498px 1947px #001aff, 617px 880px #001aff, 240px 403px #001aff;
}

@keyframes animate_stars {
  0% {
      transform: translateY(0);
  }
  100% {
      transform: translateY(-2000px);
  }
}

  @keyframes animateBg {
    0%,100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
  }
  
  span {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4px;
    height: 4px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgba(0, 26, 255, 0.337),
    0 0 0 8px rgba(30, 0, 255, 0.449),
    0 0 20px rgb(28, 5, 232);
    animation: animate 3s linear infinite;
  }
  
  span:before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 300px;
    height: 1px;
    background: linear-gradient(90deg,#4d71e8,transparent);
  }
  
  @keyframes animate {
    0% {
        transform: rotate(315deg) translateX(0);
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        transform: rotate(315deg) translateX(-1000px);
        opacity: 0;
    }
  }
  
  span:nth-child(1) {
    top: 0;
    right: 0;
    animation-delay: 0;
    animation-duration: 1s;
  }
  
  span:nth-child(2) {
    top: 0;
    right: 80px;
    left: initial;
    animation-delay: -0.2s;
    animation-duration: 3s;
  }
  
  span:nth-child(3) {
    top: 80px;
    right: 0px;
    left: initial;
    animation-delay: 0.4s;
    animation-duration: 2s;
  }
  
  span:nth-child(4) {
    top: 0px;
    right: 180px;
    left: initial;
    animation-delay: 0.6s;
    animation-duration: 1.5s;
  }
  
  span:nth-child(5) {
    top: 0px;
    right: 400px;
    left: initial;
    animation-delay: 0.8z;
    animation-duration: 2.5s;
  }
  
  span:nth-child(6) {
    top: 0px;
    right: 600px;
    left: initial;
    animation-delay: 1s;
    animation-duration: 3s;
  }
  
  span:nth-child(7) {
    top: 300px;
    right: 0px;
    left: initial;
    animation-delay: 1.2s;
    animation-duration: 1.75s;
  }
  
  span:nth-child(8) {
    top: 0px;
    right: 700px;
    left: initial;
    animation-delay: 1.4s;
    animation-duration: 1.25s;
  }
  
  span:nth-child(9) {
    top: 0px;
    right: 1000px;
    left: initial;
    animation-delay: 0.75s;
    animation-duration: 2.25s;
  }
  
  span:nth-child(10) {
    top: 0px;
    right: 450px;
    left: initial;
    animation-delay: 2.75s;
    animation-duration: 2.25s;
  }

  form {
    position: relative;
    z-index: 1;
    text-align: center;
    
  }
  .cursor {
    cursor: pointer; 
  }

  h1 {
    display: block;
    color: #f1e1ff;
    font-weight: 800;
    font-size: 4em;
    letter-spacing: -2px;
    text-align: center;
    text-shadow: 2px 3px 2px rgba(10, 0, 10, .6);
  }